.traceOverview {
  h2 {
    color: var(--color-primary-9);
    font-weight: var(--font-weight-bold);
    font-size: var(--text-lg);
    line-height: var(--tw-leading, var(--text-lg--line-height));
    border-bottom: 1px solid currentColor;
    margin: 1.5em 0 0.75em 0;

    small {
      color: var(--color-primary-9);
      font-weight: var(--font-weight-light);
      font-size: 80%;
    }
  }

  h3 {
    text-transform: capitalize;
    color: var(--color-primary-9);
    font-weight: var(--font-weight-light);
    font-size: var(--text-lg);
    line-height: var(--tw-leading, var(--text-lg--line-height));
    text-indent: calc(var(--spacing) * 3);
  }

  .repetitions {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1em;
  }
}
