@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Gabarito:wght@400..900&display=swap');

.landingPage {
  --color-hero-background: #f0f0f0;
  --color-border: var(--Colors-Gray-4, #bfbfbf);
  --color-text: var(--Colors-Blue-8, #003a8c);
  --font-serif: 'DM Serif Text', serif;
  --font-sans-serif: 'Gabarito', sans-serif;
  --font-size-M: 19px;
  --font-size-L: calc(1.5 * var(--font-size-M));
  --font-size-XL: calc(2 * var(--font-size-M));

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --margin: 20vw;

  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 1em;
  color: var(--color-text);
  background-color: #fff;
  max-width: 100vw;
  overflow-x: hidden;
  overflow-y: auto;
  font-family: 'Gabarito', serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  text-wrap: balance;
  font-size: var(--font-size-M);
  scroll-behavior: smooth;
}

.landingPage a,
.landingPage button {
  all: unset;
  cursor: pointer;
  font-size: var(--font-size-M);
  box-sizing: border-box;
}

.landingPage :global(.font-gabarito) {
  font-family: var(--font-sans-serif);
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

.landingPage :global(.font-dm) {
  font-family: var(--font-serif);
  font-weight: 400;
  font-style: normal;
}

.landingPage :global(.font-dm-italic) {
  font-family: var(--font-serif);
  font-weight: 400;
  font-style: italic;
}

.landingPage h1 {
  font-size: var(--font-size-XL);
  padding-left: var(--margin);
  margin: 1em 0;
  box-sizing: content-box;
  max-width: 18em;
  line-height: 1;
}

.landingPage h1::after {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  width: calc(var(--margin) - 0.5em);
  height: 2px;
  background-color: var(--color-hero-background, #000);
}

.landingPage h1 > big {
  display: block;
  font-weight: bolder;
  margin: 0;
}

.landingPage h2 {
  font-size: var(--font-size-L);
}

.landingPage h3 {
  font-size: var(--font-size-M);
}

.landingPage h1,
.landingPage h2,
.landingPage h3 {
  text-wrap: balance;
  position: relative;
  font-family: var(--font-serif);
}

.landingPage p {
  font-size: var(--font-size-M);
  margin-left: var(--margin);
  max-width: min(100%, min(1000px, calc(100vw - 2 * var(--margin))));
  hyphens: auto;
  text-align: justify;
  line-height: 1.2;
}
.landingPage ul {
  max-width: min(1000px, calc(100vw - 2 * var(--margin)));
}

@media (max-width: 640px) {
  .landingPage {
    --margin: 48px;
    --font-size-M: 16px;
  }
  .landingPage h1:after {
    display: none;
  }
}

@media (max-width: 480px) {
  .landingPage {
    --margin: 0;
    --font-size-M: 13px;
  }
  .landingPage {
    padding: 0 4px;
  }
}
