@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Gabarito:wght@400..900&display=swap');

.landingPage {
  --color-hero-background: #f0f0f0;
  --color-border: var(--Colors-Gray-4, #bfbfbf);
  --color-text: var(--Colors-Blue-8, #003a8c);
  --font-serif: 'DM Serif Text', serif;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 1em;
  color: var(--color-text);
  background-color: #fff;
  overflow: auto;
  font-family: 'Gabarito', serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  text-wrap: balance;
  scroll-behavior: smooth;
}

.landingPage :global(.font-gabarito) {
  font-family: 'Gabarito', serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

.landingPage :global(.font-dm) {
  font-family: var(--font-serif);
  font-weight: 400;
  font-style: normal;
}

.landingPage :global(.font-dm-italic) {
  font-family: var(--font-serif);
  font-weight: 400;
  font-style: italic;
}

.landingPage {
  --margin: 20vw;

  color: var(--color-text);
}

.landingPage h1 {
  text-wrap: balance;
  position: relative;
  font-family: var(--font-serif);
  font-size: var(--Sizes-Font-5xl, 42px);
  padding-left: var(--margin);
  margin: 1em 0;
  box-sizing: content-box;
  max-width: 640px;
  line-height: 1;
}

.landingPage h1::after {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  width: calc(var(--margin) - 0.5em);
  height: 2px;
  background-color: var(--color-hero-background, #000);
}

.landingPage h1 > big {
  display: block;
  font-size: var(--Sizes-Font-11xl, 100px);
  margin: 0;
}

.landingPage p {
  font-size: var(--Sizes-Font-2xl, 24px);
  margin-left: var(--margin);
}

@media (max-width: 480px) {
  .landingPage {
    padding-left: 1px;
    padding-right: 1px;
  }
}

@media (max-width: 640px) {
  .landingPage h1 {
    padding-left: 0.5em;
  }
  .landingPage h1:after {
    display: none;
  }
}
