.suggestedQuestions {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  gap: 0.25em;
}

.suggestedQuestions > button {
  padding: 0;
  background-color: transparent;
  border: none;
  color: #1890ff;
  transition: all 0.3s;
  text-align: right;
  margin: 0.25em 0;
}

.suggestedQuestions > button:hover {
  color: #79beff;
}
