.annoucementPopup {
  z-index: 9999999;
  position: fixed;
  bottom: 1em;
  right: 1em;
  max-width: min(540px, calc(100vw - 2em));
  padding: 1em;
  color: var(--color-primary);
  background: #eee;
  border-radius: 1em;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  gap: 0;
  overflow: hidden;
  transition: all 0.4s;
  opacity: 0;
  transform: translateX(calc(2em + 100%));
}

.annoucementPopup.show {
  transform: translateX(0);
  opacity: 1;
}

.annoucementPopup > main > h1 {
  margin: 0;
  margin-bottom: 0.5em;
  padding: 0;
}

.annoucementPopup > header {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  color: #aaa;
  z-index: 1;
}

.annoucementPopup > footer {
  margin: 1em 0;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.annoucementPopup > footer > a.register {
  border: none;
}

.background {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.annoucementPopup > main {
  margin: 0;
  padding: 0 2em;
  z-index: 1;
}

@media (max-width: 480px) {
  .annoucementPopup > main {
    margin: 0;
    padding: 0;
  }
}
