.literatureSuggestions {
  width: max(320px, 25vw);
  height: 100%;
  background-color: #000;
  color: #eee;
  padding: 1em;
  display: grid;
  grid-template-rows: auto 1fr auto;
  gap: 1em;
}

.literatureSuggestions.collapsed {
  width: 48px;
}

.literatureSuggestions > button.header {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
  padding: 0 1em;
  font-size: 24px;
}

.literatureSuggestions.collapsed > button.header {
  flex-direction: column;
  padding: 0;
}

.literatureSuggestions > button.header > h1 {
  font-size: inherit;
  font-weight: bold;
}

.literatureSuggestions.collapsed > button.header > h1 {
  order: 9;
  writing-mode: vertical-lr;
}

.articles {
  overflow: auto;
}

.error {
  padding: 1em;
  background-color: #f30;
  color: #fffe;
  border: 1px solid currentColor;
  white-space: prewrap;
}

.bottom {
  content: '';
  height: 1em;
}

.literatureSuggestions button.actionButton {
    font: inherit;
    color: white;
    background-color: #013a8c;
    border: 1px solid #fff3;
    border-radius: 4px;
    line-height: 2;
    padding: 0 1em;
    cursor: pointer;
}

.footerButtons {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 1em;
    margin: 1em 0;
}
