div.threeColumns {
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 2fr);
  gap: 5px;
  height: calc(100% - 100px);
}

div.threeColumns > div {
  min-height: 0;
  height: 100%;
}

div.threeColumns > div.scrollable {
  overflow-y: auto;
  overflow-x: visible;
}

div.threeColumns > div:first-child {
  display: grid;
  grid-template-rows: 1fr auto;
  gap: 1em;
  overflow: unset;
}

header.header {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
}
