.row {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 2em;

  > div {
    flex: 1 1 auto;
    min-width: 300px;
  }

  > div:first-child {
    flex: 0 0 auto;
    max-width: auto;
  }
}

.passed,
.failed {
  border-radius: 99vmax;
  font-weight: bold;
  font-variant: small-caps;
  padding: 0 1em;
  color: #000;
  font-size: 80%;
  display: grid;
  place-items: center;
}

.passed {
  background-color: #5f5;
}

.failed {
  background-color: #f88;
}
