.contributorsList {
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
  gap: 4em 3.2em;
  padding: 0 4rem;
}

@media (max-width: 640px) {
  .contributorsList {
    padding: 0;
  }
}

.contributorsList > div {
  width: min(calc(100vw - 2px), 360px);
  height: 4em;
}

.contributorsList > div > .name {
  font-family: var(--font-serif);
  font-size: 1.4rem;
  line-height: 2;
  padding: 0.4em 1em;
  background-color: var(--color-hero-background);
}

.contributorsList > div > .links {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.contributorsList > div > .links > a {
  all: unset;
  display: inline-block;
  cursor: pointer;
  font-size: 1rem;
  border: solid 1px var(--color-hero-background);
  padding: 6px 12px;
}

button.loadMore {
  all: unset;
  display: inline-block;
  padding: 0.5em 2em;
  cursor: pointer;
  border: 1px solid var(--color-border);
  border-radius: 99vmax;
  margin-top: 3rem;
}
