div.threeColumns {
  display: grid;
  grid-template-columns: 300px 360px 1fr;
  gap: 5px;
  height: calc(100% - 100px);
}

div.threeColumns > div {
  min-height: 0;
  height: 100%;
  overflow-y: auto;
  overflow-x: visible;
}
