.communityPanel {
  display: grid;
  grid-template-columns: minmax(0, var(--margin)) 380px auto;
}

.communityPanel > div {
  grid-column: 2/3;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  border: 1px solid var(--color-border);
  padding: 1em;
}

.communityPanel > div > * {
  flex: 0 0 auto;
}

.communityPanel > div > h2,
.communityPanel > div > h3 {
  font-weight: normal;
  margin: 0;
}

.communityPanel > div > h2 {
  font-family: var(--font-serif);
  font-size: 2rem;
  flex: 1 1 auto;
  margin-bottom: 2em;
  line-height: 0.8;
}

.communityPanel > img {
  max-width: 480px;
  grid-column: 3/-1;
}

@media (max-width: 900px) {
  .communityPanel {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
  }

  .communityPanel > img {
    object-fit: cover;
    max-width: 100%;
    max-height: 320px;
  }
}
