button.card {
  position: relative;
  border: 1px solid var(--color-neutral);
  padding: 1em;
  margin: 0 -1px -1px 0;
  display: grid;
  grid-template-rows: auto 1fr auto;
  width: var(--size-block, 256px);
  aspect-ratio: 1 / 1;
  overflow: hidden;
  cursor: default;
}

.comingSoon {
  display: inline-block;
  padding: 0.25em 1em;
  color: #fffa;
  border: 1px solid currentColor;
  border-radius: 99vmax;
  backdrop-filter: blur(4px);
}

button.card .content {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 2em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  color: #fffe;
  z-index: 2;
  text-align: left;
}

.content > div {
  position: relative;
  top: -12px;
}

.content > div > h2 {
  font-size: 2.4em;
}

.card h2,
.card h3 {
  margin: 0;
  color: #fffe;
}

.card h2 {
  position: relative;
  top: -4px;
  font-family: var(--font-serif);
}

.card h3 {
  font-weight: lighter;
}

button.card .background {
  position: absolute;
  z-index: 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
