.waveLoader {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0;
  height: 2em;
  color: var(--color-neutral-0);
}

.waveLoader .bullet {
  content: "";
  border-radius: 2px;
  width: 4px;
  height: 0.5em;
  background-color: currentColor;
  animation-name: animation;
  animation-duration: var(--custom-period);
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-delay: var(--custom-delay);
}

@keyframes animation {
  0% {
    transform: scale(1, calc(0.3 * var(--custom-size)));
    opacity: 0.5;
    background-color: currentColor;
  }
  50% {
    transform: scale(1, calc(5 * var(--custom-size)));
    opacity: 1;
    background-color: currentColor;
  }
  100% {
    transform: scale(1, calc(0.3 * var(--custom-size)));
    opacity: 0.5;
    background-color: currentColor;
  }
}
