.thanks {
  width: 50%;
  font-family: var(--font-serif);
  background-color: var(--color-hero-background);
  line-height: 0.8;
  font-size: 2vw;
  padding: 1.5rem;
  text-align: right;
}

.more {
  width: 50%;
  background-color: var(--color-text);
  color: #fff;
  padding: 1.5rem;
  font-size: 18px;
}

.pages {
  grid-column: 2/4;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
  padding: 0;
  padding-top: 1em;
  padding-bottom: 2em;
}

.chevron {
  font-size: 0.6rem;
}

.pages > div {
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.125em;
  flex-wrap: wrap;
}

.pages button {
  all: unset;
  display: inline-block;
  cursor: pointer;
  border: 1px solid var(--color-border);
  display: grid;
  place-items: center;
  width: 1.5em;
  height: 1.5em;
  flex: 0 0 auto;
}

.pages > button {
  border: none;
}

.pages button[disabled] {
  cursor: default;
  pointer-events: none;
  opacity: 0.5;
  filter: grayscale(1);
}

@media (max-width: 640px) {
  .thanks,
  .more {
    grid-column: 2/4;
  }
}
