ul.sanityContentItems {
  margin: 80px 0;
}

ul.sanityContentItems > li {
  list-style-type: "⎯";
  padding-inline-start: 1ch;
  margin-bottom: 1em;
  clear: both;
}

ul.sanityContentItems > li h3 {
  font-size: var(--font-size-L);
  font-family: var(--font-serif);
  margin-bottom: 0.2em;
}

.vignette {
  width: 120px;
  height: 120px;
  float: left;
  margin: 0 0.5em 0.5em 0;
}
