.zoomableImageContainer {
  position: relative;
  overflow: hidden;
}

.zoomableImage {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transition: transform 0.2s;
}
