.messageItem {
  --size-icon: 48px;
}

.user {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: 0;
  color: var(--color-on-primary);
  margin: 8px 0;
  margin-bottom: 32px;
}

.timestamp {
  color: #000b;
}

.userAvatar {
  content: '';
  flex: 0 0 auto;
  padding: 8px;
  border-radius: 16px 0 0 16px;
  background-color: var(--color-primary-5);
  font-size: 1em;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.userAvatar > svg {
  width: 1em;
  height: 1em;
}

.icon {
  width: var(--size-icon);
  height: var(--size-icon);
}

.userContent {
  position: relative;
  flex: 1 1 auto;
  padding: 8px;
  border-radius: 6px;
  background-color: var(--color-primary-5);
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: space-around;
  align-items: stretch;
  min-height: 64px;
}

.userContent::after {
  content: '';
  position: absolute;
  right: 16px;
  bottom: -24px;
  width: 32px;
  height: 24px;
  background-color: var(--color-primary-5);
  border-radius: 0;
  z-index: 1;
  clip-path: path('M0,0h24L32,24,0,0z');
}

.userContent > div {
  padding: 0 1em;
  white-space: pre-wrap;
}

.markdown {
  border-radius: 1em;
  border: 2px solid var(--color-neutral-9);
  background-color: #f8f8f8;
  padding: 1em;
  margin: 1em 0;
  box-shadow: 0 0.5em 1em #0005;
  clip-path: none;
  z-index: 1;
}

.markdown ul {
  list-style: disc;
}

.markdown ol {
  list-style: decimal;
}

.markdown ul,
.markdown ol {
  margin: 1em 0;
  padding: 0 2em;
}

.markdown li {
  padding: 0;
  margin: 0;
  padding-left: 1em;
  color: inherit;
  font: inherit;
}

.markdown h3 {
  font-weight: bolder;
  font-size: 120%;
}

.markdown a {
  color: var(--color-secondary-5);
  text-decoration: underline;
}

button.debugButton {
  background: orange;
  color: #000;
  font-weight: bold;
  border-radius: 99vmax;
  padding: 0.25em 1em;
  cursor: pointer;
  margin: 0.5em 0;
}

div.info {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 2em;
  color: #000;
  margin-left: 1.5em;
}

div.price {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5em;
}

div.price > svg {
  font-size: 1em;
}
