.card {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  gap: 0;
  flex-wrap: nowrap;
  --size: 256px;
}

@media (max-width: 512px) {
  .card {
    flex-direction: column;
  }
}

.card > div {
  width: var(--size);
  height: var(--size);
  margin: 0;
  border: 1px solid var(--color-border);
}

.card > div:first-child {
  padding: 24px 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}

.card > div:last-child {
  content: '';
  background-size: cover;
}

.card > div > div {
  flex: 0 0 auto;
}

.card > div > h1 {
  all: unset;
  font-family: var(--font-serif);
  font-size: var(--Sizes-Font-4xl, 36px);
  flex: 1 1 auto;
  line-height: 1;
}
