.widgetFromCellToBrain {
  width: 100%;
  /* display: grid;
  grid-template-columns: 4; */
}

.column {
  flex: 0 0 auto;
  padding: 8px;
  --width: min(calc(100vw - 16px), 370px);
  width: var(--width);
  min-width: var(--width);
  scroll-snap-stop: always;
}

.column > header {
  display: block;
  text-transform: uppercase;
  font-family: var(--font-sans-serif);
  font-size: var(--font-size-M);
  font-weight: 400;
  letter-spacing: 0.02em;
  color: var(--color-neutral);
}

.card {
  height: 320px;
  margin: 16px 0;
  padding: 14px;
  border: 1px solid var(--color-neutral);
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: 1fr 1fr;
  overflow: hidden;
}

.card > .cardHeader {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.card > h2 {
  all: unset;
  font-size: var(--font-size-XL);
}

.image {
  width: 120px;
  height: 120px;
  min-width: 120px;
  min-height: 120px;
  border-radius: 50%;
  overflow: hidden;
}

.description {
  grid-column: 1/-1;
  font-size: var(--font-size-M);
  place-self: start;
}

@media (max-width: 480px) {
  .widgetFromCellToBrain {
    padding: 0 16px;
  }

  .widgetFromCellToBrain :global(.scroll) {
    justify-content: center;
  }

  .column {
    --width: min(calc(100vw - 64px), 320px);
    margin: 0 auto;
  }
  .image {
    display: none;
  }
  .card {
    height: 160px;
  }
  .description {
    font-size: var(--font-size-M);
  }
  .card > h3 {
    font-size: var(--font-size-XL);
  }
}
