.toolState {
  color: #000e;
  border: 1px solid #0003;
  display: inline-flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0.5em;
  padding: 0.25em 0.5em;
  margin: 0.5em;
}

.toolState > * {
  flex: 0 0 auto;
}

.toolState > .name {
  flex: 1 1 auto;
}

.spin {
  animation: 1s infinite linear animation-spin;
}

@keyframes animation-spin {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
