.toolCard {
  max-width: 300px;
  color: #0008;
  margin: 1em 0;
  --custom-max-lines: 3;
}

.toolCard > header {
  font-size: 1.2em;
  font-weight: bold;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0.5em;
  cursor: pointer;
}

.toolCard > header > div {
  flex: 1 1 auto;
  color: var(--color-primary-3);
}

.toolCard > header > svg:last-child {
  font-size: 1.5rem;
  color: var(--color-primary-3);
}

.toolCard > p {
  white-space: pre-wrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: var(--custom-max-lines);
}

.toolCard .readmore {
  display: inline-block;
  margin: 0.5em 0;
  padding: 0.25em 1em;
  border: 1px solid currentColor;
  border-radius: 999vmax;
}
