.custom {
  @apply border-y;
  :global(.ant-collapse-content-box) {
    padding-right: 0;
    padding-left: 0;
  }
  :global(.ant-collapse-header) {
    cursor: default;
  }
  :global(.ant-collapse-header-text) {
    visibility: hidden;
  }
}
