.nextPanel {
  color: #bbb;
  text-transform: uppercase;
  padding: 0.5em 0;
  display: grid;
  grid-template-rows: 1fr 3fr;
  margin-top: 3rem;
}

.nextPanel > div {
  text-align: center;
}

.nextPanel > div:first-child {
  margin-bottom: -1em;
}
