.filterPanel {
  position: fixed;
  top: 0;
  left: 0;
  box-sizing: border-box;
  width: 100vw;
  max-width: 100vw;
  height: 100vh;
  max-height: 100vh;
  z-index: 50;
  margin: 0;
  padding: 0;
  transition: background-color duration 500ms;
  background: rgba(0, 0, 0, 0);
}

.filterPanel > div {
  @starting-style {
    transform: translateX(100%);
  }
}

.filterBox {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 480px;
  padding: 32px;
  transition: transform duration 500ms ease-in-out;
  background: var(--color-primary-9);
}

.isFilterOpen {
  transform: translateX(0);
}

.ifFilterClosed {
  transform: translateX(100%);
}

.checkbox-list input[type='checkbox'] {
  accent-color: #1890ff;
  width: 16px;
  height: 16px;
}
.checkbox-list label {
  cursor: pointer;
  padding: 4px 0;
}
.checkbox-list {
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  padding: 8px;
}
