.subscriptions {
  display: grid;
  gap: 24px;
  grid-template-columns: 1fr repeat(4, 320px) 1fr;
}

.subscriptions h2 {
  font-size: 36px;
  font-family: var(--font-serif);
  font-weight: 300;
  margin: 0;
}

@media (max-width: 1200px) {
  .subscriptions {
    grid-template-columns: 1fr repeat(2, 320px) 1fr;
  }
  .intermediate {
    grid-column: 2/3;
  }
}

.subscriptions div.free {
  border: none;
  font-size: 150%;
  font-weight: bold;
}

.subscriptions em {
  color: var(--Colors-Gray-6, #8c8c8c);
  font-style: normal;
}

.subscriptions ul {
  height: 15em;
  margin: 0;
  padding: 0;
  list-style: none;
}

.subscriptions ul > li {
  padding: 0;
}
