.suggestedQuestions {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    gap: .25em;
}

.suggestedQuestions > button {
  border-radius: 4px;
  padding: .5em 1em;
  background-color: #888;
  border: 1px solid #888;
  color: #000;
  transition: all 0.3s;
}

.suggestedQuestions > button:hover {
  background-color: #333;
  color: #fff;
}
