.cancelButton {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 2em;
}

.cancelButton > button {
  flex: 0 0 auto;
  border: none;
  background-color: var(--color-primary-5);
  color: #fffe;
  padding: 0.5em 1em;
  cursor: pointer;
  transition: all 0.3s;
}

.cancelButton button:hover,
.cancelButton button:active {
  border: none;
  background-color: var(--color-primary-4);
  color: #fffe;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
