.githubFlavorMarkdown {
  table {
    border-collapse: collapse;

    td {
      border: 1px solid #0007;
      padding: 0 0.5em;
    }

    th {
      color: #fff;
      background-color: #003a8c;
      padding: 0 0.5em;
      border: 1px solid #fff7;
    }
  }

  :global(span.katex-html) {
    display: none;
  }
}
