.welcome {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 0.2em;
}

.welcome > div {
  font-size: 120%;
  padding: 1.5em;
  background-color: #fff;
  border: 1px solid #d9d9d9;
  border-radius: 1em;
  box-shadow: var(--shadow-lift);
}

.welcome > div > p {
  margin: 1em 0;
}
