.welcome {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  height: 100%;
  padding-top: 2em;
}

.welcome > div {
  font-size: 120%;
  padding: 1em;
  box-shadow: rgba(0, 0, 0, 0.12) 0 6px 16px;
  border-radius: 1em;
  border: 2px solid var(--color-neutral-9);
  background-color: #fafafa;
}

.welcome > div > p {
  margin: 1em 0;
}
