dialog.synapticInputDeletionConfirmationDialog {
  margin: auto;
  padding: 1em;
  border-radius: 0.5em;
  box-shadow: 0 0.5em 1em #000a;
  width: 240px;

  &::backdrop {
    background: #0005;
  }

  > footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
    margin-top: 1em;
  }
}
