.emailButton {
  all: unset;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  border: 1px solid var(--color-border);
  padding: 48px;
  cursor: pointer;
  width: min(calc(100vw - 2px), 500px);
}

.emailButton > big {
  font-size: min(var(--Sizes-Font-4xl, 36px), 6vw);
  font-family: var(--font-serif);
  margin: 0;
}

@media (max-width: 640px) {
  .emailButton {
    padding: 16px 8px;
  }
}
