.content {
  padding: 0 18vw;
  margin-top: 50px;
  font-size: 18px;
  color: var(--color-primary-9);
  margin-bottom: 80px;
}

.content > p {
  line-height: 1.6;
}

.content > h1,
.content > h2,
.content > h3,
.content > h4 {
  font-family: var(--font-DMSerifText);
}

.content > h1 {
  font-size: 80px;
}

.content > h2 {
  font-size: 68px;
  margin-top: 20px;
}

.content > h3 {
  font-size: 50px;
  margin-top: 20px;
}

.content > h4 {
  font-size: 38px;
  margin-top: 32px;
}

.content > h4::after {
  content: "";
  display: block;
  width: 40px;
  height: 2px;
  background-color: var(--color-primary-9);
  margin: 8px 0 16px 0;
}

.content > h4:has(+ h4)::after {
  content: none;
}
