@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Gabarito:wght@400..900&display=swap");

.pageContent {
  --color-background: #fff;
  --color-on-bakground: #000;
  --color-neutral: var(--Colors-Gray-4, #bfbfbf);
  --color-neutral-light: var(--Colors-Gray-4, #f0f0f0);
  --color-on-neutral: var(--color-on-bakground);
  --color-primary: var(--Colors-Blue-8, #003a8c);
  --color-primary-light: var(--Colors-Blue-8, #1897e6);
  --color-on-primary: var(--color-background);
  --font-serif: "DM Serif Text", serif;
  --font-sans-serif: "Gabarito", sans-serif;
  --font-size-M: 19px;
  --font-size-S: calc(0.8 * var(--font-size-M));
  --font-size-M-plus: calc(1.2 * var(--font-size-M));
  --font-size-L: calc(1.5 * var(--font-size-M));
  --font-size-XL: calc(2 * var(--font-size-M));
  --gap-XL: 64px;
  --gap-L: 32px;
  --gap-M: 16px;
  --gap-S: 8px;
  --gap-XS: 4px;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  width: 100%;
  max-width: 100vw;
  margin: 0;
  padding: 0;
  color: var(--color-primary);
  background-color: var(--color-background);
  font-family: "Gabarito", serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  text-wrap: auto;
  font-size: var(--font-size-M);
  scroll-behavior: smooth;
}

.content {
  padding: 0 18vw;
  margin-top: 50px;
  font-size: 18px;
  color: var(--color-primary-9);
  margin-bottom: 80px;
}

.content > p {
  line-height: 1.6;
}

.content > h2,
.content > h3,
.content > h4 {
  font-family: var(--font-DMSerifText);
}

.content > h2 {
  font-size: 68px;
  margin-top: 20px;
}

.content > h3 {
  font-size: 50px;
  margin-top: 20px;
}

.content > h4 {
  font-size: 38px;
  margin-top: 32px;
}

.content > h4::after {
  content: "";
  display: block;
  width: 40px;
  height: 2px;
  background-color: var(--color-primary-9);
  margin: 8px 0 16px 0;
}

.content > h4:has(+ h4)::after {
  content: none;
}

.content a {
  text-decoration: underline;
  text-underline-offset: 4px;
  color: #389e0d;
}
