dialog.toolsSelector {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  overflow: hidden;
  --right: calc(1em - 1px);
  --bottom: calc(0.75em + 1px);
  opacity: 0;
  transform-origin: bottom right;
  transition-behavior: allow-discrete;
  transition: all 0.2s;

  &:open {
    transition: all 0.2s;
    opacity: 1;
  }

  &:modal {
    max-width: 100vw;
    max-height: 100vh;
  }

  &::backdrop {
    background: #0003;
    margin: 0;
    padding: 0;
  }

  > footer {
    position: absolute;
    right: calc(3.5em + var(--right));
    bottom: calc(1em + var(--bottom));
    width: 2.5em;
    height: 2.5em;
    background-color: #fff;
    box-shadow: 0 0.25em 0.5em #000a;
    display: grid;
    place-items: center;
    border-radius: 0 0 99vmax 99vmax;
    clip-path: path('M-32,0h256v256h-256Z');
  }

  > div {
    color: var(--color-primary-3);
    border-radius: 1em;
    padding: 1em;
    background-color: #fff;
    box-shadow: 0 0.5em 1em #0007;
    display: grid;
    grid-template-rows: auto auto 1fr;
    gap: 0.5em;
    position: absolute;
    right: calc(1em + var(--right));
    bottom: calc(3.5em + var(--bottom));
    max-height: calc(100vh - 4em);

    > header > div:first-child {
      font-size: 1.5em;
      display: flex;
      flex-wrap: nowrap;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      gap: 0.5em;
      padding-bottom: 0.5em;
      border: none;

      > div > strong {
        margin-right: 1em;
      }
    }

    > header > div:last-child {
      width: 100%;
      display: flex;
      flex-wrap: nowrap;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
      gap: 0;
    }

    > main {
      min-height: 0;
      overflow: auto;
    }

    hr {
      border: none;
      height: 1px;
      width: 100%;
      background: linear-gradient(to left, transparent, #0007, transparent);
    }

    button.selectButton {
      font-size: 1rem;
      display: flex;
      flex-wrap: nowrap;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
      gap: 1em;
    }
  }
}

.loading {
  min-width: 200px;
}

@starting-style {
  dialog.toolsSelector:open {
    opacity: 0;
  }
}
