


.toolsAndData h2 {
  width: 50%;
  font-family: var(--font-serif);
  font-size: 4vw;
  line-height: 1.1;
  margin: 0;
  margin-bottom: 2em;
}

.toolsAndData h3 {
  font-size: 1.4em;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.toolsAndData p {
  font-size: 1.4em;
  margin:0 ;
  padding: 0;
}

.toolsAndData > footer {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: wrap;
}

@media (max-width: 640px) {
  .toolsAndData h2 {
    font-size: 7vw;
  }

  .toolsAndData > div > img {
    display: none;
  }

  .toolsAndData > div > div {
    grid-column: 1/-1;
    color: #fff;
    background-image: url(./picture.webp);
    background-size: cover;
    text-shadow:
      0 2px 2px #002865,
      0 -2px 2px #002865,
      2px 0 2px #002865,
      -2px 0 2px #002865;
  }
}
