.toolsAndData > div {
  display: grid;
  grid-template-columns: 1fr minmax(0, 300px);
  align-items: stretch;
  overflow: hidden;
}

.toolsAndData > div > img {
  max-height: 60vh;
}

.toolsAndData > div > div {
  background-color: var(--color-hero-background);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1em;
  border: 1px solid var(--color-border);
}

.toolsAndData h2 {
  font-family: var(--font-serif);
  font-size: 3rem;
  margin: 0;
  margin-bottom: 2em;
}

.toolsAndData > footer {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: wrap;
}

@media (max-width: 640px) {
  .toolsAndData h2 {
    font-size: 7vw;
  }

  .toolsAndData > div > img {
    display: none;
  }

  .toolsAndData > div > div {
    grid-column: 1/-1;
    color: #fff;
    background-image: url(./picture.webp);
    background-size: cover;
    text-shadow:
      0 2px 2px #002865,
      0 -2px 2px #002865,
      2px 0 2px #002865,
      -2px 0 2px #002865;
  }
}
